@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/*foundation section start*/
h2 {
  margin-bottom: 10px;
  color: #28489A;
  font-size: 17px;
  font-weight: bold;
}

h2::first-letter { text-transform: capitalize; }

.tabs-head {
  border-bottom: 3px solid #B0B5BC;
  margin-bottom: 20px;
  display: flex;
  font-size: 14px;
  justify-content: space-around;
}

.active {
  border: 2px solid #B0B5BC;
  border-bottom: 4px solid #fff;
}

.tabs-head li { 
  position: relative; 
  transform: translateY(4px);
}

.tabs-head li:hover { cursor: pointer; }
.foundation-section { padding-top: 20px; }
h3 { padding: 5px; }

.tabs-head h3 { 
  color: #B0B5BC;
  text-transform: capitalize;
}

.active h3 { color: #354AA8; }

.tab1,
.tab3 {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tab1 p,
.tab3 p,
.realizing-content p {
  color: #444;
  font-size: 13px;
  line-height: 22px;
  text-align: justify;
}

.filter-ul {
  margin-bottom: 10px;
  display: flex;
  font-size: 14px;
  gap: 5px;
  justify-content: center;
  text-transform: capitalize;
}

.filter-ul li {
  padding: 2px 2%;
  border: 1px solid transparent;
  background-color: #000;
  color: #fff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.gallery li { 
  max-height: 200px;
  overflow: hidden;
}

.tab2 { 
  margin-bottom: 20px; 
  display: flex;
  flex-direction: column;
}

.tab1 p span { text-decoration: underline; }

.gallery li img {
  height: 100%;
  object-fit: cover;
}

.filter-ul li:hover {
  border: 1px solid #ff0000;
  background-color: #fff;
  color: #ff0000;
  cursor: pointer;
}

.tab-content > * { display: none; }
.show { display: flex; }
.hide { display: none; }
/*foundation section end*/

/*we section start*/
.we-section { 
  padding: 20px 0 20px;
  background-color: #F2F3F5;
}

.we-section-content { margin-bottom: 15px; }

.we-section-content p { 
  color: #444;
  font-size: 12px; 
  line-height: 20px;
}

.we-section-content p::first-letter { text-transform: capitalize; }
.we-section-content p span { font-weight: bold; }

.person-images {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-between;
}

.person-images li { flex-basis: 20%; }
/*we section end*/

/*realizing section start*/
.dot {
  width: 12px;
  height: 12px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  background-color: transparent;
  text-indent: -9999px;
}

.dot-active { background-color: #fff; }
.realizing-image-section { position: relative; }
.realizing-image-section figure { margin-bottom: 15px; }

.dot-sec {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 25px;
  gap: 7px;
  justify-content: center;
}

.realizing-section .wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/*realizing section end*/

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 480px starts here*/
@media only screen and (min-width: 480px) {
.filter-ul { 
  margin-bottom: 15px;
  gap: 10px;
}

.filter-ul li { padding: 5px 3%; }
.gallery li { flex-basis: 48%; }
}  

/*media query for 768px starts here*/
@media only screen and (min-width: 768px) {
.tab1,
.tab3 { 
  align-items: center;
  flex-direction: row;
  gap: 30px;
}

.tab1 figure,
.tab3 figure { flex-basis: 40%; }

.tab1 p,
.tab3 p { flex-basis: 60%; } 

.we-section .wrapper { display: flex; }

.we-section-content,
.person-images,
.realizing-image-section,
.realizing-content { flex-basis: 50%; }

.realizing-section .wrapper {  flex-direction: row; }
.gallery { justify-content: space-between; }

.gallery li { 
  flex-basis: 24%;
  flex-grow: 1;
 }
}

/*media query for 995px starts here*/
@media only screen and (min-width: 995px) {
.tab1 p,
.tab3 p {
  font-size: 15px;
  line-height: 30px;
}

.we-section-content p {
  font-size: 13px;
  line-height: 25px;
}

.we-section .wrapper {
  display: flex;
  gap: 25px;
}

.realizing-section { flex-direction: row; }

.filter-ul li { 
  padding: 5px 2%;
  font-size: 15px;
}
}   

/*media query for 1366px starts here*/
@media only screen and (min-width: 1366px) {
.foundation-section .wrapper { width: 80%; }

h2 { 
  margin-bottom: 47px;
  font-size: 28px; 
}

.tabs-head li { padding: 18px 100px; }
h3  { font-size: 24px; }
.tabs-head { margin-bottom: 42px; }

.tab-content {
  width: 96%;
  margin: 0 auto;
}

.tab1 figure,
.tab3 figure { flex-basis: 40%; }

.tab1 p,
.tab3 p { 
  padding-top: 40px;
  flex-basis: 48%;
  font-size: 21px;
  text-align: initial;
}

.tab1 figure img,
.tab3 figure img { min-height: 257px; }

.tab1,
.tab3 { 
  align-items: initial;
  gap: 50px;
} 

.we-section-content { padding-left: 80px; }
.tab3 { margin-bottom: 30px; }
.we-section { padding: 0px; }
.we-section-content { padding-top: 62px; }
.we-section-content h2 { margin-bottom: 33px; }

.we-section-content p {
 font-size: 19px;
 line-height: 28px;
}

.person-images li { 
  flex-basis: 24%;
  gap: 0px;
}

.we-section-content { 
  padding: 62px 0 80px 13%;
  margin-bottom: 0px;
}

.realizing-section .wrapper,
.we-section .wrapper { width: 100%; }

.realizing-image-section img { height: 405px; }
.realizing-image-section { flex-basis: 51%; }

.dot-sec { 
  bottom: 45px; 
  gap: 18px;
}

.dot {
  width: 15px;
  height: 15px;
}

.person-images li img {
  width: 165px;
  height: 203px;
}

.person-images { gap: 0px; } 
.realizing-content { padding: 60px 0 0 56px; }
.realizing-content h2 { margin-bottom: 32px; }

.realizing-content p {
  width: 445px;
  font-size: 19px;
  line-height: 30px;
  text-align: initial;
}

.tab1 { margin-bottom: 36px; }

.tab2 { flex-direction: column; }
.gallery { justify-content: flex-start; }
.gallery li { flex-grow: 0; }
}  