@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/*foundation section start*/
h2 {
  margin-bottom: 10px;
  color: #28489A;
  font-size: 17px;
  font-weight: bold;
}

h2::first-letter { text-transform: capitalize; }

.tabs-head {
  /* border-bottom: 3px solid #B0B5BB; */
  border-bottom: 3px solid #B0B5BC;
  margin-bottom: 20px;
  display: flex;
  font-size: 14px;
  justify-content: space-around;
}

.tabs-head li.active {
  border: 2px solid #B0B5BC;
  border-bottom: 4px solid #B0B5BC;
  border-bottom-color: #fff;
}

.tabs-head li { transform: translateY(4px); }

.foundation-section { padding-top: 20px; }
h3 { padding: 5px; }
.tabs-head li { position: relative; }

.tabs-head h3 { 
  color: #B0B5BC;
  text-transform: capitalize;
}

.active h3 { color: #354AA8; }

/* .active {
  border-top: 2px solid #B0B5BB;
  border-left: 2px solid #B0B5BB;
  border-right: 2px solid #B0B5BB;
  position: relative;
}


.active::before,
.tabs-head li:nth-of-type(2)::before,
.tabs-head li:nth-of-type(3)::before  {
  width: 6px;
  height: 3px;
  position: absolute;
  bottom: 0px;
  left: -6px;
  background-color: #B0B5BB;
  content: '';
}

.active::after,
.tabs-head li:nth-of-type(2)::after,
.tabs-head li:nth-of-type(3)::after  {
  width: 6px;
  height: 3px;
  position: absolute;
  bottom: 0px;
  right: -6px;
  background-color: #B0B5BB;
  content: '';
} 

.tabs-head li:nth-of-type(2) h3,
.tabs-head li:nth-of-type(3) h3 {
   border-bottom: 3px solid #B0B5BB;
} */

.tab1,
.tab3 {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tab1 p,
.tab3 p,
.realizing-content p {
  color: #444;
  font-size: 13px;
  line-height: 22px;
  text-align: justify;
}

.filter-ul {
  margin-bottom: 10px;
  display: flex;
  font-size: 14px;
  gap: 5px;
  justify-content: center;
  text-transform: capitalize;
}

.filter {
  padding: 2px 8px;
  background-color: #000;
  color: #fff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.gallery li { 
  max-height: 200px;
  overflow: hidden;
}

.tab2 { margin-bottom: 20px; }
.tab1 p span { text-decoration: underline; }
/*foundation section end*/

/*we section start*/
.we-section { 
  padding: 20px 0 20px;
  background-color: #F2F3F5;
}

.we-section-content { margin-bottom: 15px; }

.we-section-content p { 
  color: #444;
  font-size: 12px; 
  line-height: 20px;
}

.we-section-content p::first-letter { text-transform: capitalize; }
.we-section-content p span { font-weight: bold; }

.person-images {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-between;
}

.person-images li { flex-basis: 20%; }
/*we section end*/

/*realizing section start*/
.dot {
  width: 12px;
  height: 12px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  background-color: transparent;
  text-indent: -9999px;
}

.dot-active { background-color: #fff; }
.realizing-image-section { position: relative; }
.realizing-image-section figure { margin-bottom: 15px; }

.dot-sec {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 25px;
  gap: 7px;
  justify-content: center;
}

.realizing-section .wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/*realizing section end*/

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  